{{define "page"}}
<div id="page" class="wide">
    <div class="container">
        <h1>Jared L. Warren</h1>
        <div id="nav">Longmont, CO</div>
        <div id="short-nav">
            <dl>
                <dd>
                    <code><a href="https://github.com/jaredwarren"><i class="fa fa-github" aria-hidden="true"></i> github.com/jaredwarren</a></code>
                </dd>
                <dd>
                    <code><a href="https://twitter.com/jlwarren1"><i class="fa fa-twitter" aria-hidden="true"></i> @jlwarren1</a></code>
                </dd>
                <dd>
                    <code><a href="https://www.linkedin.com/in/jared-warren-51159055/"><i class="fa fa-linkedin" aria-hidden="true"></i> Jared Warren</a></code>
                </dd>
                <dd>
                    <code><a href="https://keybase.io/jlwarren1"><i class="fa fa-key" aria-hidden="true"></i> jlwarren1</a></code>
                </dd>
                <dd>
                    <code><a href="mailto:jlwarren1@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> jlwarren1@gmail.com</a></code>
                </dd>
                <dd>
                    <code><a href="tel:2088711518"><i class="fa fa-phone" aria-hidden="true"></i> (208)871-1518</a></code>
                </dd>
            </dl>
            <h4>Download Resume</h4>
            <p>
                <span style="font-size:90%">
                    <a href="https://docs.google.com/document/export?format=pdf&id=1Y2XhrTCAPQ1ogfS2Q2kvaAEpwm8FDNuSHTisr0L7YJA">JaredWarren-Resume.pdf
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>
                </span>
            </p>
        </div>
        <!-- #pkg-overview -->
        <div id="pkg-overview" class="toggleVisible">
            <div class="collapsed">
                <h2 class="toggleButton" title="Click to show Overview section">Overview ▹</h2>
            </div>
            <div class="expanded">
                <h2 class="toggleButton" title="Click to hide Overview section">Overview ▾</h2>
                <p>
                    I am an expert full-stack web developer offering 10+ years of experience building and maintaining complex, mission-critical
                    web applications.
                    <br> I am a product focused developer who is fanatical about creating quality, user-friendly, secure, and
                    scalability applications.
                    <br> I am a skillful problem solver finding innovative solutions to problems using a variety of tools, algorithms
                    and best practices.
                    <br> I am a team leader with well developed skills in prioritizing, organizing, decision making, time management,
                    and communication.
                    <br> I am an agile software developer, accustomed to gathering and analysing business requirements, translating
                    requirements into technical solutions, implementing design, testing and evaluating usage.
                </p>
            </div>
        </div>
        <!-- #pkg-index -->
        <div id="pkg-index" class="toggleVisible" style="display: none;">
            <div class="collapsed">
                <h2 class="toggleButton" title="Click to show Index section">Index ▹</h2>
            </div>
            <div class="expanded">
                <h2 class="toggleButton" title="Click to hide Index section">Index ▾</h2>
                <!-- Table of contents for API; must be named manual-nav to turn off auto nav. -->
                <div id="manual-nav">
                    <dl>
                        <dd>
                            <a href="#pkg-skills">Skills</a>
                        </dd>
                        <dd>
                            <a href="#pkg-education">Education</a>
                        </dd>
                        <dd>
                            <a href="#pkg-experience">Experience</a>
                        </dd>
                    </dl>
                </div>
                <!-- #manual-nav -->
            </div>
            <!-- .expanded -->
        </div>
        <!-- #pkg-skills -->
        <div id="pkg-skills" class="toggleVisible">
            <div class="collapsed">
                <h2 class="toggleButton" title="Click to show Skills section">Skills ▹</h2>
            </div>
            <div class="expanded">
                <h2 class="toggleButton" title="Click to hide Skills section">Skills ▾</h2>

                <h3>Technical Skills</h3>
                <h4>PHP</h4>
                <p>
                    I have over 10 years of experience working with PHP. I've worked with several different frameworks, including
                    <a href="https://laravel.com/" target="_blank">Laravel</a>,
                    <a href="https://phalconphp.com" target="_blank">Phalcon</a>, and
                    <a href="https://www.smarty.net/" target="_blank">Smarty</a>. I've also designed and built my own framework. Over the years I've learned to use best practices,
                    and optomize for performance and security.
                </p>
                <h4>MySQL</h4>
                <p>
                    I have over 10 years of experience working with MySQL databases. best practices. efficient queries... Experienced in Performance
                    Tuning, Query Optimization, Client/Server Connectivity, and Database Consistency Checks using different
                    Utilities. I am an expert in database migration from MyISAM format to Innodb storage engine to increase
                    performance and betterment of integrity constraints.
                </p>
                <h4>Git</h4>
                <p>
                    10 plus year working with git. Implemet git workflow where one wasn't being used. git deployment with hooks. !!! how to use
                    git, recover from situations they and not sure how to get out of, and giving my opinions on best practices
                    based on experience and discussion with others that have passion about how to use their version control
                    system.
                </p>
                <h4>Go</h4>
                <p>
                    I have been using Go professional for over 3 years now and has become my language of coice for all future projects. The most
                    notable project I built was a Go Windows service that communicates between the browser and input from
                    USB devices such as scales, scanners, and printers. This service would read continious input from a USB
                    connected devices, and relay state information back to the browser.
                </p>
                <h4>Docker</h4>
                <p>
                    I am accustomed to working with the many of the most popular DevOps systems, including Docker. I have migrated several triditional,
                    L.A.M.P stack systems to Docker.
                </p>
                <h4>HTML5 | JavaScript | CSS</h4>
                <p>
                    I am expert in many web architecture and development frameworks, including jquery, react, bootstrap, sass, sencha touch,
                    extjs, polymer.
                </p>

                <h3>Basic Skills</h3>
                <h4>Web Architecture & Development</h4>
                <p>
                    TODO: designing systems from the ground up secure systems designing flexiable api's
                </p>
                <h4>Enterprise & Service-Oriented Architecture</h4>
                <p>
                    TODO: What does it mean?
                </p>
                <h4>Content Management System Development</h4>
                <p>
                    Content management systems (CMS’s) are used by the vast majority of complex websites online. They make it possible to update
                    content on a website without having to dive into the code every time to update the site’s entire structure
                    (because they do that for you automatically, to put it in layman’s terms). The most popular CMS is WordPress.
                    If you’re trying to decide on a CMS to learn, WP is a great place to start. Granted, picking a less-popular
                    but still widely-used CMS (like Joomla or Drupal) can make you very valuable among a smaller target client
                    base. Knowing how to develop themes and plugins for your CMS of choice is a very valuable skill whether
                    you want to work for someone else or freelance. There are huge markets for premium themes and plugins,
                    and pretty much any dev agency you apply to will require some CMS knowledge. Companies hire CMS developers
                    to work internally on their websites, too.
                </p>

                <h4>Project Management</h4>
                <p>
                    scrum/agile git work flows
                </p>
                <h4>Software Development Life cycle</h4>
                <p>
                    scrum/agile
                </p>
                <h4>Release Management</h4>
                <p>
                    releasing updates with minimial down time (if any)
                </p>

                <h3>Professional Skills</h3>
                <h4>ABILITY TO WORK WITH A TEAM</h4>
                <p>
                    It doesn’t matter what your job title is in tech, you’re probably going to be working with other people on a team. At Skillcrush,
                    everyone is part of a team. Teams tackle projects together, as well as on their own. It’s vital to be
                    able to work with others effectively and efficiently. But most jobs are like that, in one way or another.
                    Even school is like that (group projects, anyone?), so you already have some experience working with
                    others!
                </p>
                <h4>PROBLEM SOLVING SKILLS</h4>
                <p>
                    Customer support = problem solving. Web development = problem solving. Web design = problem solving. Marketing = problem
                    solving. It does not matter what kind of tech job you’re looking for, you’re going to need problem solving
                    skills. Virtually every area of tech focuses on coming up with solutions to problems. That might mean
                    figuring out how to get more leads or customers in marketing. Or it could be how to make code work the
                    way you want it to as a developer. But you solve problems every day! When you’re getting ready to apply
                    for a tech job, think through a handful of times you’ve solved problems professionally (at work, while
                    volunteering, or even in school) and be prepared to talk about them. You want the hiring manager to walk
                    away from the interview feeling like you are ready to get out there and fix their biggest problems.
                </p>
                <h4>PLANNING AND ORGANIZATIONAL SKILLS</h4>
                <p>
                    So much of tech revolves around being organized. From keeping your code neat and tidy to staying organized on a big project
                    with multiple team members, you have to be able to keep everything in order. The same goes for planning.
                    So much of what you’ll do in tech depends on being able to plan ahead and anticipate what you’ll need
                    tomorrow or next week, and how other members of your team (or other teams entirely) need to work together
                    to accomplish goals. When you’re interviewing, talk about any more complicated, multi-step, or long-term
                    projects you’ve worked on to show off these planning and organizational skills.
                </p>
                <h4>DATA ANALYSIS</h4>
                <p>
                    A lot of jobs in tech revolve around data. The obvious ones are data analyst or marketing analyst, which both directly involve
                    analyzing data. But developers also need to know how to analyze the data they’re dealing with, so that
                    they know how best to work with it. And even in jobs like content marketing or customer support, you’ll
                    be dealing with some data on a regular basis, even if it’s just things like how many visits your blog
                    post got compared to the number of email leads it generated, or the overall satisfaction ratings of your
                    customer support contacts. If you excelled in statistics in high school or college, you’ll probably have
                    no problem with data analysis. But even if math wasn’t your strong suit, drawing basic conclusions from
                    data is more common sense than anything else. Showing a future employer that you’ve used data to make
                    decisions on your personal blog, at work in another industry, or even to do something like grow your
                    Instagram account can go a long way.
                </p>

                <h4>ADAPTABILITY</h4>
                <p>
                    Tech changes fast. What you learned six months ago might not apply next month. Or at least it might have changed significantly.
                    If you work at a startup, especially, things change all the time. Your job description when you get hired
                    might take a complete 180 three months down the road. You need to be comfortable changing and adapting
                    as your company and the industry at large change. Showing in a job interview that you’ve been comfortable
                    making major pivots in your role is a great strategy!
                </p>

                <h4>RESEARCH SKILLS</h4>
                <p>Are you a master of Google? Are you great at finding information almost instantly (I call it Google-Fu)?
                    If you are, then you’re already one-up on a lot of other tech job seekers. Being able to find the information
                    you need to do your job is a key aspect of working in tech. The tech industry is constantly changing
                    and the only way to keep up with it is to research things as you need them. I’ve heard of companies who
                    won’t even hire someone who fails to look up answers or solutions on Google!
                </p>

                <h4>PROJECT MANAGEMENT SKILLS</h4>
                <p>A lot of jobs require you to manage projects, and tech is no different. If you’ve spent time as a manager,
                    you probably have these skills already, and they’ll carry over well to the tech world. Project management
                    skills really encompass a lot of other skills, including the ability to multi-task, leadership skills,
                    effective communication skills, being detail-oriented, and negotiation skills. To make your skills stand
                    out even more, familiarize yourself with the most popular project management software options in tech,
                    like JIRA and Basecamp.
                </p>
            </div>
            <!-- .expanded -->
        </div>

        <!-- #pkg-experience -->
        <div id="pkg-experience" class="toggleVisible">
            <div class="collapsed">
                <h2 class="toggleButton" title="Click to show Experience section">Experience ▹</h2>
            </div>
            <div class="expanded">
                <h2 class="toggleButton" title="Click to hide Experience section">Experience ▾</h2>
                <h3>
                    <a href="https://www.bladehq.com/" target="_blank">Blade HQ
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </h3>
                <p>Mar 2016 to Present</p>
                <h4>Senior Software engineer</h4>
                <p>
                    Maintain and enhance custom ecommerce and inventory management software. Built tools to manage inventory, purchase shipping
                    labels, update store content, and chart statistics.
                </p>
                <ul>
                    <li>Built a Go service that communicates between the browser and input from USB devices such as scales, scanners,
                        and printers.</li>
                    <li>Implemented several PCI Compliance standards, including updating software, restrict access to system
                        with unique id’s and, tokenize cards.</li>
                    <li>Put into effect a Git workflow and release process.</li>
                    <li>Upgraded system from PHP 5.3 to PHP 7 including removing deprecated functionality and adding improved
                        security.
                    </li>
                    <li>Restructured system to follow most PSR standards, including adding documentation and unit tests.</li>
                    <li>Migrated old code to Laravel framework.</li>
                    <li>Designed and build a charting library.</li>
                </ul>
                <h3>
                    <a href="http://www.calliduscloud.com/" target="_blank">Callidus Cloud / Rapid Intake
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </h3>
                <p>2009 to 2011</p>
                <h4>Development Team Lead</h4>
                <p>
                    Lead a team of developers in planning, designing, building, and maintaining a suite of eLearning tools.
                </p>
                <ul>
                    <li>Designed, built and maintained a collaborative, form based eLearning course authoring tool. </li>
                    <li>Engineered a custom PHP framework that improved performance, reduced the amount of code that needed maintained,
                        and reduced the error rate from 6% to less than 0.001%. </li>
                    <li>Enhanced entire system security implementing ISO 27001:2013 and SOC II standards.</li>
                    <li>Integrated an asset management and media conversion tool into the authoring environment. </li>
                    <li>Engineered a customizable, cross-browser, eLearning course player. </li>
                    <li>Designed, built an iOS and Android platform to deploy mobile training content, which allowed for offline
                        access, synchronized course progress across multiple devices, and tracked activity to a learning
                        management system.</li>
                    <li>Integrated a course reviewing and issue management system. </li>
                    <li>Created a web based course screen capture tool, and corresponding interactive image editing and markup
                        tool. </li>
                </ul>
            </div>
            <!-- .expanded -->
        </div>


        <!-- #pkg-education -->
        <div id="pkg-education" class="toggleVisible">
            <div class="collapsed">
                <h2 class="toggleButton" title="Click to show Education section">Education ▹</h2>
            </div>
            <div class="expanded">
                <h2 class="toggleButton" title="Click to hide Education section">Education ▾</h2>
                <h3>Brigham Young University - 2009</h3>
                <h4>BS Mechanical Engineering</h4>
                <p>
                    strong math background. cad programming.
                </p>
                <h4>Minor Computer Science</h4>
                <p>
                    data structures, database design
                </p>
            </div>
            <!-- .expanded -->
        </div>


        <div id="footer">
            &copy; 2017
            <br> Jared L. Warren
        </div>
    </div>
    <!-- .container -->
</div>
{{end}}