[submodule "site/themes/hugo-material-docs"]
	path = site/themes/hugo-material-docs
	url = https://github.com/digitalcraftsman/hugo-material-docs.git
[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
